// 浅色
$light-color: white;
// 深色
$dark-color: black;

// 定义字体的名称
$primary-font-family: "PingFang";

// 主题颜色
$primary-color: rgb(143, 121, 212);
// 比较淡的主题颜色
$primary-light-color: rgb(172, 142, 227);

// 背景颜色
$background-color: rgb(249, 249, 249);

// 字体颜色
$font-color1: rgb(0, 0, 0);
$font-color2: rgb(56, 56, 56);
$font-color3: rgb(128, 128, 128);
$font-color4: rgb(166, 166, 166);

// 字体的主要颜色
$font-primary-color: rgb(132, 65, 163);