// 单行省略溢出文本
@mixin font-ellipsis($line: 1) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin flex-style($param) {
    display: flex;
    flex-direction: $param;
    align-items: center;
}