@font-face {
    font-family: "PingFang";
    src: url("@/assets/fonts/苹方字体/PingFang\ Medium.ttf");
}

@primary-font-family: "PingFang";

@primary-color: rgb(143, 121, 212);
@primary-light-color: rgb(172, 142, 227);

@background-color: rgb(249, 249, 249);

@font-color1: rgb(0, 0, 0);
@font-color2: rgb(56, 56, 56);
@font-color3: rgb(128, 128, 128);
@font-color4: rgb(166, 166, 166);

@font-selected: rgb(132, 65, 163);

@light-color: white;
@dark-color: black;

.font-style(1) {
    font-size: 1rem;
}

.font-style(2) {
    font-size: 0.875rem;
}

.font-style(3) {
    font-size: 0.75rem;
}

.font-style(4) {
    font-size: 1rem;
    zoom: 0.625;
}